#desktop
{
  background-color: #666666;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
}

#desktop div
{
  border-color: #666666;
  border-style: dashed;
  border-width: 1px;
  float: left;
  margin: 12px;
  overflow: auto;
  text-align: center;
}

#desktop div img
{
  height: 10vh;
  width: 10vh;
}

#desktop div span
{
  font-size: 3vh;
}

.window {
  position: absolute;
  max-height: 67vh;
  max-width: 67vw;
  overflow: auto;
}