body {
    margin: 0;
}

#文本_加载中 {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: write;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    
}

body * {
    position: absolute;
    float: top;
}