
body {
    color: #000000;
    font-size: calc(1.6vh + 1.0vw);
    position: absolute;
    left: 1.6%;
    width: 95%;
    top: 30px;
    margin: 0;
}

body form div {
    position: relative;
}

#search {
    width: calc(100% - 0.45em * 2 - 1px * 2);
    font-size: 120%;
    padding: 0.35em 0.45em;
    border: 1px dashed #000000;
}

#search:focus {
    outline: none;
    border: 1px solid transparent;
}

#search ~ span {
  position: absolute;
  background-color: green;
  transition: transform 0.5s ease;
}

.bottom, .top {
  height: 2px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left, .right {
  width: 2px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.bottom {
  bottom: 0;
  transform-origin: bottom right;
}

#search:focus ~ .bottom {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.right {
  right: 0;
  transform-origin: top right;
}

#search:focus ~ .right {
  transform-origin: bottom right;
  transform: scaleY(1);
}

.top {
  top: 0;
  transform-origin: top left;
}

#search:focus ~ .top {
  transform-origin: top right;
  transform: scaleX(1);
}

.left {
  left: 0;
  transform-origin: bottom left;
}

#search:focus ~ .left {
  transform-origin: top left;
  transform: scaleY(1);
}



#table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 10px;
    /* 行距 */
    word-wrap: break-word;
    /* 自动换行 */
}

#table tr:nth-child(even) {
    background-color: #FFDFE9;
}

#table tr:nth-child(odd) {
    background-color: #E5EAF9;
}

.title {
    border: 1px dashed #D0E0E0;
}

.tags {
    border: 1px dashed #D0E0E0;
}

a {
    color: #000000;
    text-decoration: none;
    /* 取消下划线 */
}