#desktop
{
  background-color: #666666;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
}

#desktop div
{
  border-color: #666666;
  border-style: dashed;
  border-width: 1px;
  float: left;
  margin: 12px;
  overflow: auto;
  text-align: center;
}

#desktop div img
{
  height: 9vh;
  width: 9vh;
}

#desktop div span
{
  font-size: 3vh;
}

.window {
  background-color: #FFFFFF;
  position: fixed;
  top: 11vh;
}

.window .title {
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 2em;
}

.window span {
  font-size: 1.2em;
}

.window iframe {
  
}

.window .close {
  color: #B22222;
  float: right;
  font-size: 150%;
  margin-right: 0.2em;
}